.head{
    width: 250px;
    height: 250px;
    position:relative;
    top:-130
}
/* Ears */
.ear{
    border-radius: 70% 10% 50% 30%;
    background-color: rgb(20 20 20 / 1);
    height: 100px;
    width: 100px;
    position:absolute;
    left:5;
}

.left_ear{
    left: 110px;
}

.right_ear{
    transform: scale(-1,1);
}
.insides{
    border-radius: 70% 10% 50% 30%;
    background-color: rgb(254 255 248 / 40%);
    height: 40px;
    width: 40px;
    position:absolute;
    left:53;
    top:6;
}
/*Ears*/
 .catsFace{
    background-color: rgb(20 20 20 / 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position:absolute;
    left:10;
    top:10;
}
.patch{
    position:absolute;
    background-color: rgb(150 0 0/80%);
    border-radius: 15% 45% 45% 55%;
    width: 60px;
    height: 50px;
    top:61;
    left:25;
}
.left_patch{
    left: 119px;
    transform: scale(-1,1);
}
.lines {
    position:absolute;
    background-color: rgb(20 20 20);
    border-radius: 25% 25% 65% 65%;
    width: 10px;
    height: 40px;
    left:96;
}
.line1{
    left: 110px;
    transform: rotate(10deg);
    top: 2px;
}
.line2{
    left: 81px;
    transform: rotate(-10deg);
    top: 2px;
}
/*Eyes*/
.eyes{
    position:relative;
    top: 55; 
    display:flex;

}
.eye{
    border: solid 2px;
    border-color: rgb(20 20 20 / 1);
    position: absolute;
    background-color: rgb(245 222 222);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.left_eye{
    left: 120px;
}
.right_eye{
    left: 30px;
}
.pupils{
    position: absolute;
    background-color: rgb(27, 9, 9);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 10;
}

.left_pupil{
    left: 5px;
}
.right_pupil{
    left: 10px;

}

.iris {
    border: solid 1px;
    border-color: rgb(20 20 20 / 35%);
    position: absolute;
    background-color:rgb(150 0 0 );
    border-radius: 50%;
    width: 13px;
    height: 25px;
    left:10;
    top:6;
  }

/* Mouth and Nose */
.barba {
    position: relative;
    background-color:rgb(240 220 220 / 0%);
    border-radius: 40% 40% 50% 50%;
    width: 150px;
    height: 85px;
    left:26;
    top:110;
  }

.nose{
    border:solid 2px;
    border-color: rgb(197 2 2 / 39%);
    background-color:rgb(255 120 120 );
    height:13px;
    width: 20px;
    position:relative;
    border-radius:30% 30% 79% 79%; 
    top:-50; 
    left:64;
}
.lips {
    width: 28px;
    height: 20px;
    border: solid 4px rgb(255, 255, 255);
    border-color: #fbfbfb00 rgb(150 0 0) rgb(150 0 0);
    border-radius:  50% 50% 60% 60%;
    position:relative;
    top:8;
    left:75;
  }
  .right_lip{
    transform: scale(-1,1);
  }
  .left_lip{
    left: 39px;
    top: -20px;  
  }
 /* Whiskers */ 
  .whiskyL {
    position:absolute;
    flex: 1 1;
    border-bottom: 5px solid rgb(110 0 0);
    width:75px;
    margin: auto;
    top:130;
    left:133  
}
.whiskyR {
    position:absolute;
    flex: 1 1;
    border-bottom: 5px solid rgb(110 0 0);
    width:75px;
    margin: auto;
    top:130;
    right:132; 
}

.left_whisk1{
    top: 122px;
    transform: rotate(-5deg);
}

/*Cat Body*/
  .catsbody {
    background-color: rgb(20 20 20 / 1);
    width: 150px;
    height: 150px;
    border-radius: 30% 30% 40% 40%;
    position:relative;
    left:31;
    top:195;  
  }
  .tummy{
    width:80px;
    height: 100px;
    border-radius: 70% 70% 70% 70%;
    background-color:rgb(90 0 0);
    position:absolute;
    top:40;
    left:37; 
  }
 /* Arms */ 
  .arms{
    position:absolute;
    display:flex;
  }
  .arm {
    position: relative;
    background-color: rgb(20 20 20);
    border: solid 3px;
    border-color:rgb(35 15 15 / 0%) rgb(202 0 0 / 30%);
    width: 33px;
    height: 95px;
    border-radius: 15% 15% 40% 40%;
    margin:53;
    right:44;
  }
  .left_arm {
    right: 95px;
  }

  /* Feet */
  .paw {
    position:relative;
    background-color: rgb(150 0 0);
    border: solid 2px;
    border-color: rgb(20 20 20/ 50%);
    width: 43px;
    height: 30px;
    border-radius: 60% 60% 40% 40%;
    top:80;
    right:7;
  }

  .left_paw {
    right: 7px;
  }

  .fingers {
    width: 15px;
    height: 22px;
    border: solid 4px rgb(255 255 255);
    border-color: rgb(20 20 20 / 0%) rgb(20 20 20 / 35%) rgb(80 70 40 / 0%);
    border-radius:  60px 60px 30px 30px;
    position:relative;
    top:51;
    left:5;
  }

  .left_fingers {
    top: 3px;
    left: 10px;
  }
/* Back legs */
  .legs{
    position:relative;
  }
  .leg {
    width:50px;
    height:30px;
    border: solid 2px;
    border-color: rgb(20 20 20);
    background-color:rgb(150 0 0);
    border-radius: 50% 50% 30% 30%;
    position: absolute;
    top: 320;
    left: 29; 
  }

  .right_leg {
    left: 130px;
  }
/*Tail*/
  .tail {
    width:28px;
    height: 70px;
    border-radius: 70% 70% 70% 70%;
    background-color:rgb(20 20 20);
    position:absolute;
    top:260;
    left:180;
    transform:rotate(45deg);
  }
